#email-pop-up.md-modal.md-effect-12
    i.icon-icon-close.md-close

    .container
        .md-content
            h1 You are 10 seconds away from identifying mistakes you never knew you were making
            p Enter your name and email and we will send you a link to your first video.

            form#form_login(action="#form_login", method="POST")
                input(type="text", name="uname", value="!{old(uname)}", placeholder="NAME", required)
                input(type="email", name="email", value="!{old(uname)}", placeholder="E-MAIL", required)

                button.main-button.light-red#email-pop-up-btn(type="submit"): a Click here to sign up
                span No Spam. No Bullshit. Unsubscribe at anytime.