#question-2.md-modal.md-effect-12
    i.icon-icon-close.md-close

    .container
        .md-content
            h3 Question 2 of 5
            h2 How long have you been playing poker?

            button.answer Beginner - I have played in the past 6 months
            button.answer Beginner - I have played in the past 6 months but I am really working on improving my game.
            button.answer Beginner - I have played in the past 6 months
            button.answer Beginner - I have played in the past 6 months

            .footer
                p This test takes an average of about 1 minute.
                .progress
                    .progress-bar(role="progressbar", aria-valuenow=percents, aria-valuemin="0", aria-valuemax="100")

    +question-footer('22')