#question-3.md-modal.md-effect-12
    i.icon-icon-close.md-close

    .container
        .md-content
            h3 Question 3 of 5
            h2 How do you feel about the following statement?

            .statement: p “His range is definitely poloraized in this spot. He has maybe top 2% and the fact that there are only 14 combos left means i am way ahead of his range. I really can’t fold in this spot”

            button.answer Beginner - I have played in the past 6 months
            button.answer Beginner - I have played in the past 6 months but I am really working on improving my game.
            button.answer Beginner - I have played in the past 6 months
            button.answer Beginner - I have played in the past 6 months

            .footer
                p This test takes an average of about 1 minute.
                .progress
                    .progress-bar(role="progressbar", aria-valuenow=percents, aria-valuemin="0", aria-valuemax="100")

    +question-footer('22')