#question-4.md-modal.md-effect-12
    i.icon-icon-close.md-close

    .container
        .md-content
            h3 Question 4 of 5
            h2 How do you feel about the following statement?

            .video.listed: .wistia_embed.wistia_async_jxv4no0s6w(class="seo=false videoFoam=true")

            button.answer.double I would fold
            button.answer.double I would Call
            button.answer.double I would raise to $50
            button.answer.double I would raise to $150

            .footer
                p This test takes an average of about 1 minute.
                .progress
                    .progress-bar(role="progressbar", aria-valuenow=percents, aria-valuemin="0", aria-valuemax="100")

    +question-footer('22')