.plan.plan-30.col-xs-12.col-md-3
    .plan-heading: h2.plan-name 30 day bootcamp

    .plan-body
        .the-price
            h4.duration one time payment
            h3.price <span class="dollar-sign">$</span> 199
                span.currency USD
            span.lifetime Lifetime Access to Content
            button.plan-sign-up Sign up now

        table
            +plan-table('active', '30 Day Access to the Bootcamp')
            +plan-table('active', '30 Unique Drills')
            +plan-table('active', '30 Video Breakdowns')
            +plan-table('active', '30 Micro Lessons')
            +plan-table('active', 'Comments + Q & A Forum')
            +plan-table('active', '30 Day Money Back Guarantee')
            +plan-table('', 'Bonus Drills')
            +plan-table('', '10 Hours of Live Games')
            +plan-table('', 'Premium Support')

    .plan-footer
        h2.plan-name 30 day bootcamp
        button.plan-sign-up Sign up now