.plan.plan-basic.col-xs-12.col-md-3
    .plan-heading: h2.plan-name Basic

    .plan-body
        .the-price
            h4.duration one time payment
            h3.price <span class="dollar-sign">$</span> 699
                span.currency USD
            a.save-money(href="") You are saving $192!
            button.plan-sign-up Sign up now

        table
            +plan-table('active', 'The 8-Week Video Course')
            +plan-table('active', '167 Page Course Manual')
            +plan-table('active', 'The 10 Fix Assignements')
            +plan-table('', '4 Live Q & A Webinars')
            +plan-table('', 'Game Breakdowns')
            +plan-table('', 'Week 9: The Private Lessons')
            +plan-table('', 'Week 10: The Game Breakdowns')
            +plan-table('', 'Week 11: Some Advanced Concepts')
            +plan-table('', 'Private Facebook Group')
            +plan-table('', 'Text Message Assignment System')
            +plan-table('', 'Premium Support')
            +plan-table('', 'Granded Homework + Dedicated 1 on 1 Instructor')

    .plan-footer
        h2.plan-name Basic
        button.plan-sign-up Sign up now