.plan.plan-premium.col-xs-12.col-md-3
    .red-label: p Most Popular and Greatest Value
    .plan-heading: h2.plan-name Premium

    .plan-body
        .the-price
            h4.duration 10 monthly payments of
            h3.price <span class="dollar-sign">$</span> 99
                span.currency USD
            a.save-money(href="") Save $199 with a one time payment
            button.plan-sign-up Sign up now

        table
            +plan-table('active', 'The 8-Week Video Course')
            +plan-table('active', '167 Page Course Manual')
            +plan-table('active', 'The 10 Fix Assignements')
            +plan-table('active', '4 Live Q & A Webinars')
            +plan-table('active', 'Game Breakdowns')
            +plan-table('active', 'Week 9: The Private Lessons')
            +plan-table('active', 'Week 10: The Game Breakdowns')
            +plan-table('active', 'Week 11: Some Advanced Concepts')
            +plan-table('active', 'Private Facebook Group')
            +plan-table('active', 'Text Message Assignment System')
            +plan-table('active', 'Premium Support')
            +plan-table('', 'Granded Homework + Dedicated 1 on 1 Instructor')

    .plan-footer
        h2.plan-name Premium
        button.plan-sign-up Sign up now