.fadeMe
header.bigger.header-started
    //- img.chip(src="../images/started-chip.png", alt="")
    img(src="../images/school-logo.png", alt="", width="207", height="65")

button.home.btn-navigation(type='button')
    span.text MENU
    span
    span
    span
    span

nav.menu-appear
    ol.navigation-ol
        li.front-line( item='00' ): a(href="") Home
        li.front-line.about( item='01' ): a(href="") About
        li.front-line( item='02' ): a(href="") Start Here
        li.front-line( item='03' ): a(href="") Free Videos
        li.front-line( item='04' ): a(href="") Free Workshops
        li.front-line( item='05' ): a(href="") Our Courses

        ul
            li: a(href="") Submit a poker hand
            li: a(href="") Ask a poker questions
            li: a(href="") Get our value emails
            li: a(href="") Login


    footer
        ul.list-inline
            li: a.icon-social-twitter(href="")
            li: a.icon-social-facebook(href="")
            li: a.icon-social-instagram(href="")
            li: a.icon-social-youtube(href="")

        p &copy; 2017 BEYOND TELLS ALL RIGHTS RESERVED