doctype html
html(lang='en-US')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title School of Cards

        // START of LINKS

        // Normalize.css
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css")

        // BootstrapCSS 3.3.7
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")


        // START of FONTS

        // Material Design Icons
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

        // END of FONTS

        // Main CSS file
        link(rel="stylesheet", href="../styles/main.css")

        // END of LINKS

    body
        include ../mixins/mixins.jade
        include ../mixins/navigation.jade

        section.main-page: .container
            h2 Want to Get Significantly Better at Poker?
            p Answer 5 Simple Questions for Free Customized Poker Training
            button.main-button.white: a(href="https://www.schoolofcards.com/gettingstarted") Click to start


        footer.page-footer

            .social
                a.icon-social-twitter(href="")
                a.icon-social-facebook(href="")
                a.icon-social-instagram(href="")
                a.icon-social-youtube(href="")

            ul.upper.navigation
                li: a(href="") Home
                li: a(href="") About
                li: a(href="") Getting Started
                li: a(href="") Blog/content
                li: a(href="") Strategy Sundays
                li: a(href="") The 8 Week Course
                li: a(href="") Login

            ul.lower.navigation
                li: a(href="") Contact Us
                li: a(href="") Privacy Policy
                li: a(href="") Disclaimer


        // jQuery 3.1.1
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")

        //- // BootstrapJS 3.3.7
        //- script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

        // Jquery Easing
        script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")

        // Jquery Color Animation
        script(src="../js/color-animations.min.js")

        // Transit.JS
        script(src="../js/transit.min.js")

        // Navigation.JS
        script(src="../js/navigation.js")

        //- // Footer Position JS
        //- script(src="../js/footer-position.js")

        //- // Main JS
        //- script(src="../js/main.js")

        script(src="//fast.wistia.com/embed/medias/jxv4no0s6w.jsonp" async)
        script(src="//fast.wistia.com/assets/external/E-v1.js" async)